@{
    ViewData["Title"] = "Start";
}

<div class="hero hero-lg bg-grey align-items-center text-center">
    <h1 class="">SportsPro</h1>
    <p class="lead">Sports management for sports enthusiasts</p>
</div>
<div class="row">
    <div class="col-10 col-offset-1">

    </div>
</div>