@{
    ViewData["Title"] = "Login";
}

<div class="hero hero-lg align-items-center text-center">
    <div class="row-3">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="example@example.com">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        <button class="btn btn-rounded btn-blue">Login</button>
    </div>
</div>